@media only screen and (max-width: 600px) {
    .home{
        background-color: aquamarine;
    }

}
    
.home{
    background-color: aquamarine;
}
.narv{
    display: grid;
     grid-template-columns: repeat(7,1fr);


} 
.narv a{
    text-decoration: none;
}
.in{
    border-radius: 10%;
    background-color: blue;
    padding: 10%;
    
}
.up{
    border-radius: 10%;
    padding: 10%;
    
}
.que{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.see{
    width: 180%; 
    height: 120%;

}

.team{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.team1 img{
    width: 120px;

}

.yam2{
    display: flex;
    gap: 14%;
}
.timo{
    display: flex;
    gap: 14%;
    background-color:whitesmoke;
}
.uan{
    border-radius: 10%;
    padding: 10px;
   
    background-color: blue;
}
.ytr{
    border-radius: 10%;
    padding: 10px;
}

.home{
    background-color:lightgrey;
}
.food{
    display: flex;
    gap: 34%;
    text-align: center;
}